<ion-tabs>

  <ion-router-outlet id="main"></ion-router-outlet>

  <ion-tab-bar slot="bottom" [class.hidden]="hideTabBar">
    <ion-tab-button tab="home" href="/home" [class.route-active]="activeTab === 'home'">
      <ion-icon [icon]="icons.homeOutline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="requests" href="/home/requests" [class.route-active]="activeTab === 'requests'">
      <ion-icon [icon]="icons.receiptOutline"></ion-icon>
      <ion-label>Requests</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alerts" href="/home/alerts" [class.route-active]="activeTab === 'alerts'">
      <div class="alerts-icon-wrap">
        <ion-icon [icon]="icons.notificationsOutline"></ion-icon>
        <span class="alerts-badge" *ngIf="unreadCount > 0">{{ unreadCount > 99 ? '99+' : unreadCount }}</span>
      </div>
      <ion-label>Alerts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/home/profile" [class.route-active]="activeTab === 'profile'">
      <ion-icon [icon]="icons.personOutline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
