<ion-header class="address-modal-header ion-no-border">
  <ion-toolbar>
    <ion-title>{{ currentView === 'list' ? 'Select Address' : (editingAddress ? 'Edit Address' : 'Add Address') }}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="close()">
        <ion-icon slot="icon-only" [icon]="icons.closeOutline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="address-modal-content">
  <section class="body-wrap">
    <app-address-list
      *ngIf="currentView === 'list'"
      [addresses]="addresses"
      [selectedAddressId]="selectedAddress?.id ?? null"
      [isBusy]="isBusy"
      (select)="onSelectAddress($event)"
      (edit)="openEditForm($event)"
      (remove)="onDeleteAddress($event)"
      (add)="openAddForm()"
    ></app-address-list>

    <app-address-form
      *ngIf="currentView === 'form'"
      [mode]="editingAddress ? 'edit' : 'add'"
      [initialAddress]="editingAddress"
      [isSubmitting]="isBusy"
      (save)="onSaveAddress($event)"
      (cancel)="onCancelForm()"
    ></app-address-form>
  </section>
</ion-content>
